html {
    font-size: 14px;
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
}

.table {
    color: #ffff;
}



/**************************** Form category View css ***********************************/
/***************************************************************************************/
.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2rem;
}

.widget {
    border-radius: 1rem;
    background-color: #1a222b;
    margin: 0 auto;
}

/*Radio input*/
.radio-input {
    display: none;
}

.radio-label {
    cursor: pointer;
}

.div-col-income {
    color: #1a222b;
    background-color: #ffff;
    cursor: pointer;
}

.radio-css{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.div-col-expense {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.padding-row-radio {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}


/*Text input*/
.padding-row-input {
   padding-left:20px;
   padding-right:20px;
}

.input-title, .input-icon {
    height: 45%;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}

#text-label {
    display:block;
}

.padding-row-button {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}


/*************************************************************************/
/*************************************************************************/



/***********************CATEGORY INDEX VIEW*******************************/
/*************************************************************************/

/*button for list*/

.table-category {
    border-radius: 1rem;
    background-color: #1a222b;
    margin: 0 auto;
}

.btn-expense {
    border-radius: 1rem;
    width: 60%;
    background-color: #931414;
    border: none;
    color: white;
}

.btn-income {
    border-radius: 1rem;
    width: 60%;
    background-color: #3d8510;
    border: none;
    color: white;
}


.icon-list {
    text-decoration: none;
    color: white;
}


/*************************************************************************/
/*************************************************************************/
